---

const { slug, title, description, count, publishDate, size = 'md', placement = '' } = Astro.props

interface Props {
    slug: string
    title: string
    description: string
    count: number
    publishDate: string
    size?: 'sm' | 'md' | 'lg' | 'xl'
    placement?: string
}

const sizeClasses = {
    sm: 'row-span-2 p-4',
    md: 'row-span-2 p-4',
    lg: 'row-span-2 p-5',
    xl: 'row-span-4 p-6',
}

const titleClasses = {
    sm: 'text-base',
    md: 'text-2xl',
    lg: 'text-3xl',
    xl: 'text-4xl lg:text-5xl',
}

const descriptionClasses = {
    sm: 'line-clamp-2 text-xs leading-5',
    md: 'line-clamp-2 leading-7',
    lg: 'line-clamp-2 text-lg leading-8',
    xl: 'line-clamp-5 text-lg leading-8',
}
---

<a
    href=`/categories/${slug}`
    class:list={[
        'group flex size-full min-h-0 flex-col overflow-hidden rounded-lg bg-neutral-100 shadow-lg transition duration-300 hover:-translate-y-1 hover:shadow-xl dark:bg-neutral-900/30',
        sizeClasses[size],
        placement,
    ]}
>
    <div class="mb-3 min-w-0">
        <div class="flex min-w-0 items-center">
            <div class="min-w-0">
                <h3 class:list={[
                    'line-clamp-2 break-words font-semibold tracking-tight text-neutral-600 group-hover:text-orange-400 dark:text-neutral-300 dark:group-hover:text-orange-300',
                    titleClasses[size],
                ]}
                >
                    {title}
                </h3>
            </div>
        </div>
    </div>

    <p class:list={[
        'block min-w-0 break-words text-neutral-500 group-hover:text-neutral-600 dark:text-neutral-500 dark:group-hover:text-neutral-400',
        descriptionClasses[size],
    ]}
    >
        {description}
    </p>

    <div class="mt-auto flex flex-wrap gap-x-5 gap-y-2 pt-5">
        <span class="text-xs inline-flex items-center rounded me-2 text-neutral-500 group-hover:text-neutral-600 dark:text-neutral-500 dark:group-hover:text-neutral-400">
            <svg
                class="w-3 h-3 me-1.5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <rect width="8" height="4" x="8" y="2" rx="1" />
                <path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-.5" />
                <path d="M16 4h2a2 2 0 0 1 1.73 1" />
                <path d="M8 18h1" />
                <path d="M18.4 9.6a2 2 0 0 1 3 3L17 17l-4 1 1-4Z" />
            </svg>
            {count} posts
        </span>
        <span class="text-xs inline-flex items-center rounded me-2 text-neutral-500 group-hover:text-neutral-600 dark:text-neutral-500 dark:group-hover:text-neutral-400">
            <svg
                class="w-3 h-3 me-1.5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <circle cx="12" cy="12" r="10" />
                <polyline points="12 6 12 12 16 14" />
            </svg>
            update {publishDate}
        </span>
    </div>
</a>
